<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3" style="background-color: black">
      <ul class="nav nav-pills nav-stacked">
        <h1>Stock Market</h1>

        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->

        <li><a href="#section1">Home</a></li>
        <li><a href="#section1">Markets</a></li>
        <li><a href="#section1">Top Stocks</a></li>
        <li><a href="#section1">Finance News</a></li>
        <li><a href="#section1">About Us</a></li>
        <li><a href="#section1">Contact Us</a></li>
      </ul>
    </nav>

    <div class="col-md-9">
      <h2>Overview of Stock Markets Around the World</h2>
      <div class="col-md-4">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">India</div>
          <div class="panel-body">Panel Content</div>
        </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">United States of America</div>
            <div class="panel-body">Panel Content</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">Germany</div>
            <div class="panel-body">Panel Content</div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-offset-3 col-md-9">
      <div class="panel-group">
        <div class="panel panel-default" style="height: 300px">
          <div class="panel-heading">Overview of Stock Markets around the world</div>
          <div class="panel-body">Panel Content</div>
        </div>
      </div>
    </div>
    </div>

    </div>
  </div>

